<section class="hero is-fullheight has-text-centered has-background-white-ter" id="action">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="assets/images/climate_crisis.svg"><img src="assets/images/climate_crisis_272x352.jpg" alt="Climate Crisis Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          One meaningful way to take action is to <b>talk about the climate crisis</b>. A related way to take action is to <b>put up posters</b>. Putting up posters will make the issue more visible in the real world and it will make it harder for people to ignore the climate crisis. There are many ways to take action and finding ways to fit in bits of climate action in your everyday life will help make those actions a reality. The <b>David Suzuki foundation</b> has a <a href="https://davidsuzuki.org/what-you-can-do/transform-your-climate-concern-into-climate-action/">list of ways you can take action</a> and also information about how to <a href="https://davidsuzuki.org/climate-conversation-coach/">have climate conversations</a>, which isn't always easy.
          <hr>
          If you would like to put up posters in your local area feel free to download, modify, and or print copies of this poster to put up in your area. The poster is licensed by <a href="http://creativecommons.org/publicdomain/zero/1.0?ref=chooser-v1">CC0 1.0 Universal</a>.
          <hr/>
          This poster was created using the free and open source vector graphics program <a href="https://inkscape.org/">Inkscape</a> which can be used if you wish to modify the poster. A scalar vector graphic (svg) file of the poster is available here: <a href="assets/images/climate_crisis.svg">climate_crisis.svg</a> which is best if you want to modify it. If you just want to print the poster as it is, this <a href="assets/images/climate_crisis.pdf">pdf file</a> is likely what you want.
        </div>
      </div>
      
      <a href="{{site.url}}{{site.baseurl}}/#related"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Related Issues</a>
      </a>
      
    </div>
  </div>
</section>