<section class="hero is-fullheight has-text-centered has-background-white-ter" id="faster">
  <div class="hero-body">
    <div class="container">
      
      <div>
        <h1 class="title">Why do we need to act faster?</h1>
      </div>
      
      <div class="columns">
        
        <div class="column has-text-justified-desktop has-text-justified-tablet has-text-justified-fullhd has-text-justified-widescreen">
          <p>
          Before I mention what helped me understand why Government (and all of us really) aren't moving faster on the climate crisis, lets address a related question. Why do we need to move faster on the climate crisis?<br/><br/>

          After a recent conversation with a friend I realized not everyone is asking, "why aren't we making faster progress on the climate crisis?". I started this page and posters because I wanted to help people like me who were struggling to understand this question. However, not everyone is like me, so lets talk a little about why we need to move faster on the climate crisis.<br/><br/>

          For a long time I didn't understand how urgent the situation is. I am still learning everyday new reasons for more urgent action. However, a big turning point for me was sometime between the end of 2018 and 2019, when my Dad told me about the then recent special report by the <a href="https://www.ipcc.ch/">IPCC</a>, <a href="https://www.ipcc.ch/sr15/">"Global Warming of 1.5°C"</a>. Feel free to read it, but there is lots in there. The main point that I think is critical to understanding the scale of change and urgency needed can be read from the Summary For Policymakers document.

<figure style="padding-top:0.5em;padding-bottom:0.5em;"><blockquote style="margin:0px;"><p style="padding:15px;background:#eee;border-radius:5px;">In model pathways with no or limited overshoot of 1.5°C, global net anthropogenic CO2 emissions decline by about 45% from 2010 levels by 2030 (40–60% interquartile range), reaching net zero around 2050 (2045–2055 interquartile range).</p></blockquote><figcaption>— ipcc: <a href="https://www.ipcc.ch/sr15/chapter/spm/">Special Report: Global Warming of 1.5C, Summary for Policymakers</a>, from the <a href="https://www.ipcc.ch/sr15/chapter/spm/spm-c/">Emissions Pathways and System Transitions Consistent with 1.5 C Global Warming</a></figcaption>chapter.</figure>

        That means, <b>we need to nearly half our emissions globally by 2030</b>.  As of this writing this that is in 7 years from now. Additionally we then need to get to net zero by 2050. Or in other words, we can't just continue as we are and then drop to net zero at 2050. At that point we will have already shot way past the amount of emissions we can emit before we will exceed 1.5°C.<br/><br/>

        Ok, so how important is it to stay within 1.5°C? The main reason is that above 1.5°C (and even before in some cases) our natural systems, forests, oceans, ice, that are helping mitigate the climate crisis will start to drive it. Making it increasingly difficult to stop run away warming. I very recently also learned that <b>managed Canadian forests (<a href="https://cfs.nrcan.gc.ca/statsprofile/">~60%</a> of our forests) haven't been helping us reduce our CO2 emissions for quite some time and are actually driving CO2 levels up</b> (think forest fires). See for example this <a href="https://www.cbc.ca/news/canada/calgary/canada-forests-carbon-sink-or-source-1.5011490">CBC article from 2019</a>. The managed Canadian forests system is one example of a natural system that has flipped to being a driver of the climate crisis. As we continue to warm increasingly more systems will flip to driving the climate crisis making it increasingly difficult to slow.<br/><br/>

        Ok, but are our global governments already handling things, are we already on our way to those large reductions of emissions we need? Especially in <a href="https://climateactiontracker.org/countries/canada/">Canada</a> and, to a lesser extent, the <a href="https://climateactiontracker.org/countries/usa/">US</a> our governments are not. In Europe, they are making more progress (see <a href="https://climateactiontracker.org/countries/eu/">Climate Action Tracker - EU</a>), but still not enough. If you look at the relatively new, large emitters like <a href="https://climateactiontracker.org/countries/china/">China</a> who haven't contributed the bulk of the current atmospheric CO2, their emissions are growing rapidly. We are no where near on track, and we only have <b>7 years</b> to half our emissions! Globally, based on current policies and actions, we are on track for about 2.7°C or more of warming by 2100, with continued warming into the future.<br/>
          <figure style="padding-left:15%;padding-right:15%;padding-top:2em;padding-bottom:2em;">
          <a href="https://climateactiontracker.org/global/temperatures/">
          <img src="https://climateactiontracker.org/media/images/CAT_2022-11_Graph_2100WarmingProjection.original.png"></img>
          </a>
          <figcaption>
<blockquote style="margin:0px;"><p style="padding:15px;background:#eee;border-radius:5px;">
Current policies presently in place around the world are projected to result in about 2.7°C warming above pre-industrial levels. NDCs alone will limit warming to 2.4°C. When binding long-term or net-zero targets are included warming would be limited to about 2.0°C above pre-industrial levels.<br/><br/>

We also ran an “optimistic” targets scenario analysing the effect of net zero emissions targets of about 140 countries that are adopted or under discussion. Even under the optimistic assumption that governments will achieve these targets, the median warming estimate is only limited to level of 1.8°C. It must be emphasised that our ‘optimistic’ assessment of end-of-century median warming of about 1.8°C is not Paris Agreement compatible and that warming higher that 2°C cannot be ruled out.
</p></blockquote>
          <a href="https://climateactiontracker.org/global/temperatures/">2100 Temperature Projections - Climate Action Tracker</a>
          </figcaption>
          </figure>

        At this point, though you might still be digesting some of that information if it is new to you, you are probably getting an idea of the scale and urgency needed. However, one final point I would like to make, specifically with regard to Canada, since that is where I live, is how the largest contributors of our emissions have changed over the last 30 years. <b>Emissions from electricity generation has decreased by about 45%</b> (a significant contributor in 1990), <b>while those from transportation and the oil & gas sector have increased to nearly completely offset those reductions</b> (see the Canadian Government's own <a href="https://www.canada.ca/en/environment-climate-change/services/environmental-indicators/greenhouse-gas-emissions.html#wb-auto-6">environment and climate change page</a> on the "Economic sectors" tab).<br/><br/>

        Now that you are with me:
        </div>
      </div>
      
      <a href="{{site.url}}{{site.baseurl}}/#hints"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Why aren't Governments moving faster?</a>
      </a>
      
    </div>
  </div>
</section>
