<section class="hero is-fullheight has-text-centered has-background-white-ter" id="hints">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://criticalfrequency.org"><img class="is-rounded" src="assets/images/DrilledS1_Cover-300x300.jpg" alt="Drilled">
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <a href="https://criticalfrequency.org">Drilled</a> is a narrative, investigative climate accountability podcast. The show is reported, hosted, and produced by award-winning climate journalist Amy Westervelt.
        </div>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://www.youtube.com/channel/UCuVLG9pThvBABcYCm7pkNkA"><img class="is-rounded" src="assets/images/climate_town_300x300.jpg" alt="Climate Town"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <a href="https://www.youtube.com/channel/UCuVLG9pThvBABcYCm7pkNkA">Climate Town</a> informs about the climate crisis while making you laugh more than you cry.
        </div>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://www.cbc.ca/listen/live-radio/1-429-what-on-earth"><img class="is-rounded" src="assets/images/what-on-earth-square-logo_300x300.jpg" alt="What on Earth"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <a href="https://www.cbc.ca/listen/live-radio/1-429-what-on-earth">What on Earth</a> gives the Canadian perspective of the climate crisis.
        </div>
      </div>
      
      <a href="{{site.url}}{{site.baseurl}}/#action"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Something you can do</a>
      </a>
    </div>
  </div>
</section>