<section class="hero is-fullheight has-text-centered has-background-white-ter" id="related">
  <div class="hero-body">
    <div class="container">
      
      <div>
        <h1 class="title">Related Issues</h1>
      </div>
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://cgeroux.github.io/cars_ruin_cities?utm_campaign=cross_reference&utm_source=climate_crisis_site&utm_medium=web_site"><img src="assets/images/better_cities_are_possible_with_st_any_qr_272x352.png" alt="Better Cities are Possible Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <p>If you have listened or watched any considerable amount of <i>Drilled</i>, <i>Climate Town</i>, or <i>What on Earth</i> you likely have some understanding of the role the Fossil Fuel industry has played in delaying action on the climate crisis. One of the largest uses of fossil fuel is our transportation system. We have designed our cities for <b>cars and not people</b>. This design focus has many ramifications including increased maintenance costs of infrastructures, decreased quality of life, as well as the implications for the climate crisis. To learn more about these transportation and city design related issues see my other site about how <b><a href="https://cgeroux.github.io/cars_ruin_cities?utm_campaign=cross_reference&utm_source=climate_crisis_site&utm_medium=web_site">cars ruin cities</a></b> and how better cities are possible when we design with less focus on the car.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>