<section class="hero is-fullheight has-text-centered has-background-white-ter" id="related">
  <div class="hero-body">
    <div class="container">
      
      <div class="columns">
        <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
            <figure class="image">
                <a href="https://cgeroux.github.io/cars_ruin_cities"><img src="assets/images/cars_ruin_cities_272x352.jpg" alt="Cars Ruin Cities Poster"></a>
            </figure>
        </div>
        <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
          <p>If you have listened or watched any considerable amount of <b>Drilled</b>, <b>Climate Town</b>, or <b>What on Earth</b> you likely have some understanding of the role the Fossil Fuel industry has played in delaying action on the climate crisis. You might have also gotten a glimpse at how there is a related issue of how we design our <b>cities for cars and not people</b>. To learn more about this see my other site about how <a href="https://cgeroux.github.io/cars_ruin_cities">cars ruin cities</a> and how better cities are possible.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>